## 1. text로 작성된 log 파일 분석

 - 만약 text로 log 파일이 남겨지는 경우 다양한 control이 가능함
 
 - 여기서는 text로 작성된 log를 excel을 사용하여 나눈 이후 처리를 해보고자 함
 
 - excel을 읽고 출력하기 위해서 read_excel, to_excel을 사용하는데 이는 pandas에서 지원하는 함수이지만 따로  xlrd, openxlsx 등의 외부 라이브러리가 필요함

In [1]:
# import modeule
import pandas as pd
import os

In [2]:
# read_excel in pandas need to xrld module
df1 = pd.read_excel(os.path.join("data", "01_right_cvs.xlsx"))
df2 = pd.read_excel(os.path.join("data", "02_left_cvs.xlsx"))

- 데이터를 확인

In [3]:
# df1

 - 특정 text가 있는 부분만 추출해야함
 
 - 이를 위해 특정한 text가 없으면 drop_list에 colume의 number를 추가하고 이후에 이 colume들을 제거

In [4]:
drop_list = []

for i in range(len(df1.index)):
    if((not("Name of point" in str(df1.iloc[i][1]))) & (not("Mean of points" in str(df1.iloc[i][1])))):
        drop_list.append(i)

In [5]:
df1_pc = df1.drop(drop_list)

In [6]:
drop_list = []

for i in range(len(df2.index)):
    if((not("Name of point" in str(df2.iloc[i][1]))) & (not("Mean of points" in str(df2.iloc[i][1])))):
        drop_list.append(i)

In [7]:
df2_pc = df2.drop(drop_list)

 - 바로 to_excel을 사용하면 "openpyxl.utils.exceptions.IllegalCharacterError"이라는 error를 확인할 수 있음
 
 - 이는 NaN에 해당하는 데이터 처리에 대한 문제로 생각되어지며 아래의 참고자료에서 확인하여 문제를 해결함
 
 > https://stackoverflow.com/questions/42306755/how-to-remove-illegal-characters-so-a-dataframe-can-write-to-excel

In [8]:
df1_pc_ = df1_pc.applymap(lambda x: x.encode('unicode_escape').
                 decode('utf-8') if isinstance(x, str) else x)

df2_pc_ = df2_pc.applymap(lambda x: x.encode('unicode_escape').
                 decode('utf-8') if isinstance(x, str) else x)

In [9]:
# to_excel in pandas neet to openxlsx module
df1_pc_.to_excel(os.path.join("data", "01_right_cvs_pc.xlsx"))
df2_pc_.to_excel(os.path.join("data", "02_left_cvs_pc.xlsx"))